@charset "utf-8";

nav{
	display: table;
	margin: 0px 276px;
	position: absolute;
}

/*Список кнопок на главной панели*/
.MainMenu{
	list-style-type: none;
	list-style-position: inside;
	display: table-row;
	padding: 0px;			
}

/*Элемент списка кнопок на главной панели*/
.MainPanelItem{
	display: table-cell;
	height: 60px;
	padding: 0px 10px;	
	border-right: 2px solid #ff9900;
	border-left: 2px solid #ff9900;
}

/*Кнопка на главной панели*/
.MainPanelButton{
	display: inline-block;
	width: 100%;
	text-align: center;
	text-decoration: none;
	padding: 15px 0px;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	font-family: 'Bookman Old Style', serif;
	color: #F5D694;
	text-shadow: 1px -1px 0px rgb(131,114,86),
		1px 1px 0px rgb(131,114,86),
		-1px 1px 0px rgb(131,114,86),
		-1px -1px 0px rgb(131,114,86),
		2px -2px 0px rgba(235,172,46,0.7),
		2px 2px 0px rgba(235,172,46,0.7),
		-2px 2px 0px rgba(235,172,46,0.7),
		-2px -2px 0px rgba(235,172,46,0.7);
	white-space: nowrap;
	text-transform: uppercase;
}

.MainPanelButton:hover{
	text-shadow: 1px -1px 0px rgb(131,114,86),
		1px 1px 0px rgb(131,114,86),
		-1px 1px 0px rgb(131,114,86),
		-1px -1px 0px rgb(131,114,86),
		3px -3px 0px rgba(235,172,46,0.7),
		3px 3px 0px rgba(235,172,46,0.7),
		-3px 3px 0px rgba(235,172,46,0.7),
		-3px -3px 0px rgba(235,172,46,0.7);		
}

.RightAreaBut{
	display: inline-block;
	cursor: pointer;
	outline: none;
	background-color: transparent;
	background-image: url(../image/Template/Button160x40.png);
	margin-bottom: 5px;
	width: 160px;
	height: 40px;
	line-height: 40px;
	font-size: 16px;	
	font-weight: bold;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	color: #EACA8E;
	border-style: none;	
}

.RightAreaBut:hover{
	background-image: url(../image/Template/Button160x40_hover.png);
}

.RightAreaBut:active{
	font-size: 14px;
}

.FormBut{
	display: inline-block;
	cursor: pointer;
	outline: none;
	background-color: transparent;
	background-image: url(../image/Template/Button140x35.png);
	margin-bottom: 5px;
	width: 140px;
	height: 35px;
	line-height: 35px;	
	font-size: 16px;	
	font-weight: bold;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	color: #EACA8E;
	border-style: none;	
}

.FormBut:hover{
	background-image: url(../image/Template/Button140x35_hover.png);
}

.FormBut:active{
	font-size: 14px;
}

/*EntBut - прямоугольная кнопка с текстом*/
.EntBut{
	outline: none;
	cursor: pointer;	
    text-decoration: none;
    font: bold 16px 'Trebuchet MS',Arial, Helvetica; 
    display: inline-block;
    text-align: center;
    color: #fff;
    
    border: 1px solid #9c9c9c; /* Fallback style */
    border: 1px solid rgba(0, 0, 0, 0.3);            
    
    text-shadow: 0 1px 0 rgba(0,0,0,0.4);
    
    box-shadow: 0 0 .05em rgba(0,0,0,0.4);
    -moz-box-shadow: 0 0 .05em rgba(0,0,0,0.4);
    -webkit-box-shadow: 0 0 .05em rgba(0,0,0,0.4);
	
}

.EntBut span{
	border-top: 1px solid #fff; /* Fallback style */
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    display: block;
    padding: 0;
    
    /* The background pattern */
    
    background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, rgba(0, 0, 0, 0.05)), color-stop(.25, transparent), to(transparent)),
                      -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.25, rgba(0, 0, 0, 0.05)), color-stop(.25, transparent), to(transparent)),
                      -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.75, transparent), color-stop(.75, rgba(0, 0, 0, 0.05))),
                      -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.75, transparent), color-stop(.75, rgba(0, 0, 0, 0.05)));
    background-image: -moz-linear-gradient(45deg, rgba(0, 0, 0, 0.05) 25%, transparent 25%, transparent),
                      -moz-linear-gradient(-45deg, rgba(0, 0, 0, 0.05) 25%, transparent 25%, transparent),
                      -moz-linear-gradient(45deg, transparent 75%, rgba(0, 0, 0, 0.05) 75%),
                      -moz-linear-gradient(-45deg, transparent 75%, rgba(0, 0, 0, 0.05) 75%);

    /* Pattern settings */
    
    -moz-background-size: 3px 3px;
    -webkit-background-size: 3px 3px;
    background-size: 3px 3px;   
}

.EntBut:hover{
    box-shadow: 0 0 .1em rgba(0,0,0,0.4);
    -moz-box-shadow: 0 0 .1em rgba(0,0,0,0.4);
    -webkit-box-shadow: 0 0 .1em rgba(0,0,0,0.4);
}

.EntBut:active
{    
    position: relative;
    top: 1px;
}

.EntBut-color{
	background: #FDE894;
	background: -webkit-gradient(linear, left top, left bottom, from(#FFFDDE), to(#FDE894) );
	background: -moz-linear-gradient(-90deg, #FFFDDE, #FDE894);
	border-radius: 10px;	
	color: #000;
}

.EntBut-color:hover{
	background: #FFFDDE;
    background: -webkit-gradient(linear, left top, left bottom, from(#FDE894), to(#FFFDDE) );
    background: -moz-linear-gradient(-90deg, #FDE894, #FFFDDE);
}

.EntBut-color:active{
	background: #FDE894;
}

.EntButLeft{
	background: #FDE894;
	background: -webkit-gradient(linear, left top, left bottom, from(#FFFDDE), to(#FDE894) );
	background: -moz-linear-gradient(-90deg, #FFFDDE, #FDE894);
	
	width: 100px;
	height: 30px;
	line-height: 30px;
	border-radius: 10px 0px 0px 10px;
	color: #000;
	/*font-weight: normal;*/
	text-shadow: 0 1px 0 rgba(0,0,255,0.4);		
}

.EntButLeft span{
	border-radius: 10px 0px 0px 10px;
}

.EntButLeft:hover{	
	background: #FFFDDE;
    background: -webkit-gradient(linear, left top, left bottom, from(#FDE894), to(#FFFDDE) );
    background: -moz-linear-gradient(-90deg, #FDE894, #FFFDDE);
}

.EntButLeft:active{	
	background: #FDE894;
}

.EntButRight{	
	background: #FDE894;
	background: -webkit-gradient(linear, left top, left bottom, from(#FFFDDE), to(#FDE894) );
	background: -moz-linear-gradient(-90deg, #FFFDDE, #FDE894);
	
	width: 100px;
	height: 30px;
	line-height: 30px;
	border-radius: 0px 10px 10px 0px;
	color: #000;
	/*font-weight: normal;*/
	text-shadow: 0 1px 0 rgba(255,0,0,0.4);	
}

.EntButRight span{
	border-radius: 0px 10px 10px 0px;
}

.EntButRight:hover{	
	background: #FFFDDE;
    background: -webkit-gradient(linear, left top, left bottom, from(#FDE894), to(#FFFDDE) );
    background: -moz-linear-gradient(-90deg, #FDE894, #FFFDDE);
}

.EntButRight:active{	
	background: #FDE894;
}

