@charset "utf-8";

.InlineBlockClass{
	display:inline-block;
}

/*Заголовок страницы*/
.PageHeader{
	text-align: center;
	font-size: xx-large;
	font-style: normal;
	letter-spacing: 0.1em;	
	word-spacing: 0.2em;	
	margin-left: 50px;
	margin-top: 35px;
	color: #F5D694;
}

/*Подзаголовок страницы*/
.SubPageHeader{
	margin-left: 10%;
	margin-right: 10%;	
	margin-top: 15px;	
	display: block;
	font-size: x-large;
	font-style: normal;
	text-align: left;
	color: #F5D694;	
}

/*Форма*/
.MyForm{
	display: inline-block;
	text-align: center;
	margin-top: 50px;
	color: #F5D694;
}

.FormTopBorder{
	border-color: #F5D694;
	border-style: solid;
	border-radius: 15px 15px 0px 0px;	
	border-width: 2px;
	line-height: 40px;
	background-color: rgba(0,0,0,0.35)	
}

.FormArea{
	border-color: #F5D694;
	text-align: left;
	border-left-style: solid;
	border-right-style: solid;
	border-width: 2px;
	padding: 1em;
}

.FormBottomBorder{
	border-color: #F5D694;
	border-style: solid;
	border-radius: 0px 0px 15px 15px;	
	border-width: 2px;
	height: 40px;
	background-color: rgba(0,0,0,0.35);
	line-height: 40px;	
}

.TitledTextboxArea{
	padding: 0.5em;		
}

.FailText{
	color: #FF3737;
	font-size: large;
}

.Fieldset{	
	border-color: #D3BFA9;
}

.FailList{
	list-style-position: outside;
	list-style-type: square;
	margin-left: 10%;
}

/*Текстовое поле*/
.TextBox{
	border-color: #967452;
	background-color: #D3BFA9;
	outline: none;
	font-size: small;	
}

/*Таблица данных*/
@media (min-width: 1500px) {
	.DataTable{
		font-size: large;
	}
}

@media (max-width: 1500px) {
	.DataTable{
		font-size: medium;
	}
}

@media (max-width: 1260px) {
	.DataTable{
		font-size: small;
	}
}

@media (max-width: 1024px) {
	.DataTable{
		font-size: x-small;
	}
}

.DataTable{				
	margin-top: 35px;	
	text-align: left;
	border-collapse: collapse;
	color: #F5D694;	
}

.DataCell{
	border-color: #F5D694;
	border-style: solid;
	border-width: 2px;	
	padding: 0.5em 0.5em; 	
}

.TabHeader{	
	background-color: rgba(0,0,0,0.35);	
	text-align: center;
}
