@charset "utf-8";

a {
	color: #4B1573;
	text-decoration: none;
}

/*Навигация для работников*/
.LeftMenu{
	list-style-type: none;	
	list-style-position: inside;
	margin-top: 5px;	
	padding-left: 3px;
	padding-right: 7px;
	outline: none;					
}

/*Элемент списка навигации для работников*/
.LeftMenuItem{	
	margin-bottom: 5px;	
}

/*Заголовок раздела навигации*/
.LeftMenuHeader{
	text-align: left;
	text-decoration: none;
	outline: none;
	width: 100%;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	height: 30px;	
	color: #C1AC51;	
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;	
	text-shadow: 1px -1px 0px rgb(0,0,0),
		1px 1px 0px rgb(0,0,0),
		-1px 1px 0px rgb(0,0,0),
		-1px -1px 0px rgb(0,0,0);	
	cursor: pointer;
	display: inline-block;
	border-width: 2px;
	border-style: solid;
	border-radius: 5px;
	border-color: rgb(131,114,86);
	/*Для ff и ie*/	
	white-space: pre;	
}

/*Указатель свернутого раздела навигации*/
.TriangleClosed {
  border-color: transparent transparent transparent rgb(131,114,86);
  border-style: solid;
  border-width: 5px 0px 5px 10px;
  height: 0;
  width: 0;
  display: inline-block;
  margin: 0px 5px 8px 5px;    
}

/*Указатель развернутого раздела навигации*/
.TriangleOpened {
  border-color: rgb(131,114,86) transparent transparent transparent;
  border-style: solid;
  border-width: 10px 5px 0 5px;
  height: 0;
  width: 0;
  display: inline-block;
  margin: 0px 5px 8px 5px;     
}

/*Указатель пункта навигации*/
.TriangleLittle {
  border-color: transparent transparent transparent #4B1573;
  border-style: solid;
  border-width: 4px 0px 4px 7px;
  height: 0;
  width: 0;
  display: inline-block;
  margin: 0px 2px 2px 5px;       
}

/*Список пунктов навигации в разделе*/
.LeftBlockMenu{
	list-style-type: none;
	list-style-position: outside;
	margin: 3px 0px 5px 1px;
	padding: 0px;
	border-style: solid;
	display: inline-block;
	width: 100%;
	border-width: 1px;
	border-radius: 5px;
	border-color: rgb(131,114,86);	
}

/*Пункт навигации*/
.NavLink{
	text-decoration: none;		
	display: inline-block;
	font-size: 18px;
	text-align: left;
	width: 100%;							
}

.UserArea{
	text-align: center;
	text-decoration: none;
	outline: none;
	margin-top: 5px;	
	padding-left: 6px;
	padding-right: 3px;	
}

.UserHeaderArea{	
	width: 206px;	
	cursor: default;
	display: inline-block;
	border-width: 2px;
	border-style: solid;
	border-radius: 5px;
	border-color: rgb(131,114,86);	
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	height: 30px;
	color: #C1AC51;	
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;	
	text-shadow: 1px -1px 0px rgb(0,0,0),
		1px 1px 0px rgb(0,0,0),
		-1px 1px 0px rgb(0,0,0),
		-1px -1px 0px rgb(0,0,0);
	/*Для ff и ie*/	
	white-space: pre;		
}

.UserWorkArea{
	margin: 3px 0px 5px 0px;
	padding: 0px;
	border-style: solid;
	display: inline-block;
	width: 206px;
	border-width: 1px;
	border-radius: 5px;
	border-color: rgb(131,114,86);
}

.UserName{	
	padding-bottom: 20px;
	padding-top: 5px;
	padding-left: 3px;
	padding-right: 3px;
}


/*Заголовок страницы*/
.PageHeader{
	width: 760px;	
	text-align: center;
	font-size: 30px;
	margin: 10px 0px;
	font-weight: bold;
}

.DataTable{
	margin: 0px 20px;
	width: 720px;	
	font-size: 18px;
	margin-bottom: 10px;		
}

.ColoredRow{
	background-color: rgba(253, 232, 148, 0.8);
	font-weight: bold;		
}

.DataCell{
	padding: 2px 5px;
	text-align: left;
	border-collapse: collapse;
	border: 2px solid #000000;
	vertical-align: top;
}

.DataTableHeader{
	text-align: center;
	font-weight: bold;
	color: #000;
	vertical-align: middle;
}

.PaginationList{
	list-style-type: none;
	list-style-position: inside;
	display: block;
	padding: 0px;	
}

.PaginationListItem{
	display: inline-block;
	text-decoration: underline;	
}

.ActiveList a{
	color: #0000FF;
}


