@charset "utf-8";

.checkbox{	
	width: 19px;
	height: 25px;
	padding-right: 5px;			
	background: url(../image/Template/checkbox.png) no-repeat;
	display: block;
	clear: left;
	float: left;		
}

.SearchForm{
	display: inline-block;
	text-align: left;
	margin: 15px 50px 30px 0px;
}

.SearchLabel{
	text-indent: 0.5em;
	font-size: 18px;	
}

.SearchTextBox{
	outline: none;
	background-color: #FFF;
	border-color: #f2e19e;
	
	/*Костыль для автозаполнения в хроме*/
	-webkit-box-shadow: inset 0 0 0 50px #fff;
	-webkit-text-fill-color: #000;
}

.FormTopBorder{
	
}

.FormBottomBorder{	
	margin-top: 10px;
}

.ProfileForm{
	text-align: center;	
	display: inline-block;
	margin: 0px 100px;
}

.ProfileFormArea{
	border: 5px double rgb(131,114,86);
	padding: 5px;
}

.ProfileFormTableCell{
	padding: 5px 10px;
	vertical-align: top;	
}

.ProfileFormFieldset{
	border: thin solid #000000;
	text-align: left;
	padding: 0px 10px;
	width: 200px;		
}

.ProfileTextBox{
	outline: none;
	background-color: #FFF;
	border-color: #f2e19e;
	
	/*Костыль для автозаполнения в хроме*/
	-webkit-box-shadow: inset 0 0 0 50px #fff;
	-webkit-text-fill-color: #000;
}

.TitledTextboxArea{
	margin-top: 10px;
}

.AuthForm{
	font-size: 20px;
	width: 280px;
	height: 220px;
	display: inline-block;
	background-image: url(../image/Template/Form.png);
	margin-top: 10px;			
}

.AuthFormArea{
	text-align: left;
	margin: 30px 50px 0px 50px;		
}

.AuthFormBottom{
	margin-top: 15px;
}

.FailText{	
	color: #FF0000;
	font-size: 20px;	
}

.ReportsForm{
	display: inline-block;
	font-size: 20px;
	width: 280px;
	height: 180px;
	padding: 20px 0px;
	display: inline-block;
	background-image: url(../image/Template/Form.png);
	margin-top: 10px;
}
