@charset "utf-8"
html{
	margin:0px; 
	padding:0px;	
}

body{	
	background-color: #000000;
	min-width:1004px;
	margin: 0px;
	padding: 0px;
}

/*Область под фоновое изображение*/
.MainArea{
	min-width:1004px;
}

/*Фоновое изображение*/
#imgBG{
	display:block;
	position:absolute;
	top:50px;
	left:0px;	
	min-width:1004px;
	width:100%;
	height:auto;
	z-index:-1;
}

/*Область заголовка под логотип и панель личных данных*/
header{
	margin-left: 15%;
	margin-right: 15%;			
}

/*Логотип*/
#Logo{
	width: 45%;
	height: auto;
	position: relative;	
}

/*Панель для личных данных, кнопки выхода и.т.п*/
.Personal{
	background-color: #D1B078;
	width: 35%;
	height: 50px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	margin-left: 65%;
	text-align: center;
	border-style: none ridge ridge;
}

/*Главная рабочая область*/
.WorkArea{
	margin-left: 15%;
	margin-right: 15%;
	padding-top: 15px;
	/*min-height:*/
	height: 1500px;
	display: block;
	border-radius: 30px;
	background-image: url(/media/image/MainTemplate/WoodTexture.jpg);
	/*Временно*/
	color: #F5D694;
	text-align: center;
	font-size: large;
}

/*Главная панель, предположительно, для навигации по системе*/
.MainPanel{
	margin-left: 15px;
	margin-right: 15px;
	border-style: solid;
	background-color: #666666;
	border-radius: 15px;
	height: 50px;
	vertical-align: middle;
	border-width: 3px;	
}

/*Кнопка на главной панели*/
.MainPanelButton{
	width: 100px;
	height: 50px;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	border-right-width: thin;
	border-right-style: solid;
	border-color: #FFFFFF;
	text-decoration: none;
	background-color: #00CCFF;
	color: #0000FF;
	position: static;
}
.MainPanelButton:hover{
	background-color: #000099;
	color: #FFFFFF;
}

/*Отдельный класс для левой кнопки со скругленными углами*/
.LeftButton{
	border-top-left-radius: 11px;
	border-bottom-left-radius: 11px;
}

/*Отдельный класс для кнопки, соответствующей открытой странице*/
.ActiveButton{
	background-color: #33CC33;
	color: #666666;
}
.ActiveButton:hover{
	background-color: #006600;
	color: #FFFFFF;
}

/*Классы таблиц*/
table{
		
}
tr{
	
}
td{
	
}

/*Нижняя часть страницы*/
.Underground{
	height: 100px;
	color: #FFFFFF;
	text-align: center;	
}
