@charset "utf-8";

body{		
	background-color: #000000;
	min-width:1260px;	
}

#dialog-overlay{
	background-color: #000;	
}

#dialog-message{
	display: none;
	background-image: url(../image/Template/Texture.png);
	background-repeat: repeat;
	color: #FF0000;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	font-weight: bold;
	font-size: 20px;
	text-align: center;	
	cursor: default;
	padding: 0.3em 1em;
	border: 2px solid #ff8e00;
	border-radius: 10px;	
	white-space: nowrap;
}

/*Главный контейнер*/
.MainArea{
	margin: 0 auto;	
	width: 1260px;	
}

/*Область заголовка под логотип*/
header{
	background-image: url(../image/Template/Header.png);	
	height: 338px;
	text-align: center;
}

/*Логотип*/
.Logo{
	width: 35%;
	height: auto;
	margin-top: 170px;	
}

/*Главная панель, для навигации по системе*/
.MainPanel{
	background-image: url(../image/Template/MainPanel.png);
	height: 90px;
	border-collapse: collapse;	
}

/*Лента, перекрывающая главную панель*/
.UpperFlag{
	z-index: 1;
	position: absolute;
}

.UpperFlagRight{
	margin-left: 976px;
}

/*Главная рабочая область*/
.WorkArea{				
	background-image: url(../image/Template/WorkAreaTexture_Full.png);
	background-repeat: repeat-y;
	color: #4B1573;
	text-align: left;
	font-size: 18px;
	display: table;
	overflow-y: scroll;		
}

/*Изображение в верхней части рабочей области*/
.WorkAreaImage{
	min-height: 600px;
	background-image: url(../image/Template/WorkArea_Full.png);
	background-repeat: no-repeat;	
}

/*Левый блок рабочей области*/
.LeftBlock{	
	width: 220px;
	padding-left: 30px;	
	text-align: left;
	display: table-cell;	
	vertical-align: top;						
}

/*Правый блок рабочей области*/
.RightBlock{	
	width: 220px;
	padding-right: 30px;	
	margin-left: 1010px;
	text-align: left;
	display: table-cell;	
	vertical-align: top;			
}

/*Центральный блок рабочей области*/
.CentralBlock{
	text-align: center;
	height: 100px;
	width: 760px;
	margin-left: 250px;
	display: table-cell;
	vertical-align: top;				
}

/*Нижняя часть страницы*/
footer{
	height: 100px;
	color: #FFFFFF;
	text-align: center;
	background-image: url(../image/Template/Footer.png);
	background-repeat: no-repeat;
	padding-top: 40px; 	
}                    