@charset "utf-8";

/*Форма поиска*/
.SearchForm{
	display: inline-block;
	text-align: left;
	color: #F5D694;
	font-size: large;	
	letter-spacing: 0.1em;	
}

#search_label{
	text-indent: 5%;	
}

#search{
	display:inline;	
}

#submit{	
	padding: 0.1em 1em 0.3em 1em;
	font-size: medium;
	line-height: 1em;
	display:inline;	
}

